NG_APP_ENV=development
NG_APP_NAME=Airtable Integration System
NG_APP_HOST=0.0.0.0
NG_APP_PORT=4200
NG_APP_API_BASE_URL=http://localhost:3007/api
NG_APP_AIRTABLE_INTEGRATION_KEY=default
NG_APP_SIGNIN_PATH=/signin
NG_APP_PROTECTED_HOME_PATH=/dashboard
NG_APP_AUTH_CALLBACK_PATH=/auth/airtable/callback
